<h2>Add a pet</h2>

<form method="post" action="/pets/create-pet">

    <input type="text" name="name" >
    <input type="number" name="age" >
    <input type="text" name="animalType" >
    <input type='checkbox' name="isFixed" >

    <button type="submit">Add Pet</button>

</form>