<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <a href="/pets/all-pets">See all pets</a>
  <body>
    {{{body}}}
  </body>
</html>
